<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <property name="appHome" value="${application.home:-.}/logs" />
  <property name="appName" value="x-mentor" />

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <!-- FILE Appender definition -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <prudent>true</prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${appHome}/${appName}.${HOSTNAME}.application.%d{yyyy-MM-dd, UTF-3}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>%-5level %date{HH:mm:ss.SSS} - %marker - %message%n</pattern>
    </encoder>
  </appender>

  <!-- CONSOLE Appender definition -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5coloredLevel %date{HH:mm:ss.SSS} - %marker - %message%n</pattern>
    </encoder>
  </appender>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
  <logger name="ch.qos.logback" level="ERROR" />

  <!-- -->
  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
