version: '3.7'

services:

  x-mentor-core:
    image: xmentor/x-mentor-core:latest
    restart: always
    ports:
      - 9000:9000
      
  x-mentor-client:
    image: xmentor/x-mentor-client:latest
    ports:
      - 80:80

  x-redis:
    image: redislabs/redismod:feature-search-json
    restart: always
    volumes:
      - ./redis-data:/data
    ports:
      - 6379:6379

  x-gears:
    image: xmentor/x-gears:latest
    depends_on:
      - x-redis
    command: ['init.py', '--url', 'redis://x-redis:6379']
       
  x-keycloak:
    image: jboss/keycloak
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
    ports:
      - 8880:8080

volumes:
  ivy2:
    driver_opts:
      o: bind
      type: none
      device: $HOME/.ivy2
  sbt:
    driver_opts:
      o: bind
      type: none
      device: $HOME/.sbt
      